@import "./_theme_colors";
@import "./_theme_custom";
@import "./_dates_picker";
//
@import "./header";

.scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }